/*Font family imported from Google Fonts, using Lobster and Gothic*/

/*This first section of rules is to hide the Responsive Design Links and Images on wide screen view*/

.mobile-view-index-link {
  display: none;
}
.mobile-view-nav-image {
  display: none;
}
/*End Responsive Design rules*/

.content-locations{
  padding-bottom:5px;
  margin-bottom: 5px;
  border-bottom: 1px
  dashed #ccc;
}
.nomargin {
    color: #fff;
    font-size: 23px;
    margin-top: 10px !important;
    text-align: center !important;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Carrois Gothic', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
a {
  color: #fff;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color:#fff;
  font-family: 'Pathway Gothic One', sans-serif;
}
h3 {
  margin-top: 51px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Pathway Gothic One', sans-serif;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Pathway Gothic One', sans-serif;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  font-family: 'Pathway Gothic One', sans-serif;
}
p {
  margin-top: 9px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}
.headercontent h2 {
  display: none;
}
.delimit-content h2, h3, h4, p {
 text-align: center;
 padding-left: 10px;
 padding-right: 10px;
}
.delimit-content div, a {
 padding-left: 20px;
}
i.fa {
  color: #fff;
}
.front-page-nav-link {
  font-family: 'Lobster', cursive;
  margin-top: 0;
  margin-bottom: 15px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button-primary {
  display: inline-block;
  background-color: orange;
  text-align: center;
  font-size: 24px;
  margin: 15px 0 15px 20px;
}
.columnalogo {
  padding-right: 0px;
  text-align: right;
}
.columnaorder {
  padding-left: 0px;
}
.col1 {
  padding: 0px;
  text-align: center;
}
.col2 {
  padding: 0px;
  text-align: center;
}
.col3 {
  text-align: center;
}
.columna-en3-2 {
  margin-top: 14px;
}
.col4 {
  text-align: center;
}
.col5 {
  text-align: center;
}
.col6 {
  text-align: center;
}
.img-about {
  width: 195px;
  height: 373px;
  margin: 0px;
}
.img-locations {
  width: 195px;
  height: 373px;
  padding: 0px;
}
.img-menu {
  width: 195px;
  height: 373px;
}
.img-franchise {
  width: 195px;
  height: 268px;
}
.img-keep {
  width: 195px;
  height: 268px;
}
.img-contact {
  height: 268px;
  margin-top: 52px;
}
.img-contact.link-img {
  width: 196px;
  margin-top: 0px;
}
.block-order {
  text-align: center;
}
.block-logo {
  text-align: center;
}
.social1 {
  margin-right: 5px;
  margin-left: 35px;
}
.social2 {
  margin-right: 5px;
  margin-left: 5px;
}
.social3 {
  margin-right: 5px;
  margin-left: 5px;
}
.colsocial {
  padding: 29px 0 0 30px;
}
.logo-graspa {
  margin-top: 18px;
  float: left;
}
.collogo {
  text-align: left;
}
.copy {
  margin-top: 29px;
  margin-left: 52px;
  font-size: 11px;
  line-height: 20px;
  color: #fff;
}
.navigation {
  background-color: #1C1F1F;
}
.navllogo {
  display: block;
  margin-right: auto;
  margin-left: 35px;
  float: left;
  background-color: #1C1F1F;
  text-align: left;
  padding-left: 0;
}
.navlink {
  background-color: #1C1F1F !important;
  clear: none;
  color: white;
  float: none;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 26px !important;
  left: 0;
  margin: 2px 3px 3px 0;
  padding: 10px !important;
  position: relative;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  border: 1px solid #fff;
}
.navlink:hover {
  margin-left: 0px;
  opacity: 0.62;
  color: #e6e6e6;
}
.navlink.worklink {
  margin-left: 40px;
}
.navlink.bg-yellow {
  background-color: #1C1F1F;
}
.navlink.bg-yellow.paddingmenu {
  padding-right: 10px;
  padding-left: 10px;
}
.navlink.bg-yellow.paddingmenu.fontbig {
  font-size: 30px;
}
.navlink.bg-yellow.font-24 {
  font-size: 22px;
}
.navlink.bg-yellow.font-16 {
  font-size: 16px;
}
.navlink.bg-yellow.font-18 {
  font-size: 18px;
}
.navlink.bg-yellow.bot-order {
  float: left;
  font-size: 17px;
  font-weight: 700;
}
.navlink.font-15 {
  left: 0px;
  top: 0px;
  font-size: 15px;
}
.navlink.font-15.paddingl {
  padding-left: 44px;
}
.navlink.font-15.paddingl:hover {
  margin-left: 0px;
  color: #e6e6e6;
}
.navlink.paddingleft {
  padding-right: 29px;
  padding-left: 23px;
}
.navlink.paddinglr {
  padding-right: 23px;
  padding-left: 23px;
}
.navlink.font-16 {
  font-size: 14px;
}
.navlink.font-16.otroboton {
  float: left;
  font-size: 16px;
  font-weight: 700;
}
.navlink.submenulink2 {
  display: block;
  width: 60%;
  margin: 0px 0px 0px 36px;
  padding: 4px 0px;
  background-color: transparent;
  color: #e6e6e6;
  font-size: 14px;
}
.navlink.submenulink2:hover {
  font-weight: 700;
}
.order {
  text-align: center;
  padding-bottom: 50px;
}
.bot-order h2 {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.amazon-order-link {
  display: block;
  padding-top: 5px;
}
.mavitems {
  /*background-image: url('../images/nav_bkg.jpg');*/
}
.pic-about {
  margin-top: 151px;
  float: right;
}
div.ape-content {
  padding-left: 0;
}
.container-content {
  margin-top: 21px;
}
.delimit-content {
  width: 642px;
  position: absolute;
  left: 10px;
  float: right;
  background-color: #1C1F1F;
  margin-top: 27px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}
.h3-24px-font-size {
  font-size: 24px;
}
.delimit-content.header-menu {
  width: 661px;
}
.location-left-col {
  text-align: center;
  padding-top: 30px;
}
.minilinks {
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}
.minilinks:hover {
  color: #e6e6e6;
}
.minilinks.download {
  margin-top: 5px;
  margin-left: 19px;
  padding-top: 0px;
}
.adorder {
  width: 350px;
  margin-top: 24px;
  margin-left: 13px;
  float: left;
}
.pizzas {
  margin-top: 55px;
  float: right;
}
.separalo {
  margin-top: 21px;
}
.row-social {
  margin-top: 12px;
}
.img-work {
  margin-top: 38px;
  float: right;
}
.row1-col2 {
  text-align: right;
}
.row1-col3 {
  text-align: right;
}
.row1-col1 {
  text-align: right;
}
.hom-menu-row2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.row2-col1 {
  text-align: right;
}
.row2-col2 {
  text-align: right;
}
.row3-col1 {
  text-align: right;
}
.row3-col2 {
  text-align: right;
}
.row3-col3 {
  text-align: right;
}
.img-antipasti {
  float: none;
}
.contenedor-menu {
  width: 587px;
}
.menu-header-row-col3 {
  text-align: right;
}
.img-col3 {
  height: 147px;
}
.submenulink {
  width: 90%;
  padding: 0px;
  float: right;
  color: #143272;
}
.submenulink:hover {
  font-weight: 700;
  text-decoration: none;
}
.subtitle-menu {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}
.block-content-menu {
  margin-top: 28px;
}
.content-menu {
  padding: 7px;
  font-size: 11px;
}
.content-menu.ingredientes {
  font-size: 12px;
}
.contact-page-restaurant-info h2,
.contact-page-restaurant-info h3,
.contact-page-restaurant-info p,
.contact-page-restaurant-info a {
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.-menu {
  margin-top: 25px;
}
.legal {
  color: #063271;
  font-size: 10px;
  font-weight: 700;
}
.priceclock {
  padding-left: 11px;
  font-size: 9px;
}
.beattheclock {
  margin-top: 88px;
}
.trans {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
.trans:hover {
  opacity: 0.75;
}
.ul-social-media-icons {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.ul-social-media-icons li {
  display: inline;
}
.w-col.w-col-6.w-col-medium-6.w-col-small-6.colsocial {
  width: 40%;
  padding-left: 0;
}
.order-online-link {
  border: 0;
}
.display-block-img {
  display: block;
  margin: 15px auto;
}
.w-col.w-col-6.w-col-small-6.w-col-tiny-6.locations-right-col div {
  padding-left: 40px;
}
/*.footer {
  position:fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: #1C1F1F;
  width: inherit;
}*/
#menu-pdf-link {
  margin-top: 20px;
}
#ape-link a {
 display: block;
 margin-bottom: 20px;
 text-decoration: none;
}
#founder-img  {
 margin: 20px 10px 0 10px;
}

/***tablet***/
@media (max-width: 991px) {
  body {
    background-image: none;
    background-color: #e6e6e6;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #fff;
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 12px;
  }
  .headercontent img {
    display: none;
  }
  .headercontent h2 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    background-color: #1C1F1F;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: center;
  }
  .block-logo {
    margin-bottom: 11px;
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .main-row {
    text-align: left;
  }
  .col1 {
    background-color: #1C1F1F;
  }
  .col3 {
    background-color: #1C1F1F;
  }
  .col4 {
    background-color: #1C1F1F;
  }
  .col6 {
    background-color: #1C1F1F;
  }
  .block-order {
    margin-top: 11px;
    background-color: #1C1F1F;
  }
  .social1 {
    margin-left: 3px;
  }
  .navllogo {
    margin-left: 0px;
  }
  .navlink.bg-yellow.font-24 {
    font-size: 21px;
  }
  .delimit-content {
    width: 95.5%;
    margin-top: 0;
  }
  .delimit-content.header-menu {
    width: 95.5%;
    /*width: 540px;*/
  }
  .location-left-col {
    text-align: center;
  }
  .minilinks.download {
    margin-left: 14px;
  }
  .col-icon-social {
    text-align: left;
  }
  .icono-social {
    margin-left: 95px;
    padding-left: 0px;
    float: right;
  }
  .contenedor-menu {
    width: 561px;
  }
  .img-col1 {
    width: 172px;
  }
  .img-col3 {
    width: 130px;
    height: 124px;
  }
  .link-img {
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  a.w-inline-block.trans {
    padding-left: 0;
  }
  .link-img h1 {
    margin-right: 10px;
  }
  .order-online-link{
      border: 0;
    }
  .mobile-footer-image {
    display: inline-block;
    width: 300px;
  }
  .w-col.w-col-6.w-col-small-6.w-col-tiny-6.locations-right-col div {
    padding-left: 40px;
  }
  /*.footer {
    display: none;
  }*/
}

/***phone landscape***/
@media (max-width: 767px) {
  body {
    background-image: none;
    background-color: #e6e6e6;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #fff;
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 12px;
  }
  .headercontent h2 {
    display: block;
  }
  .columna-en3-1 {
    margin-top: 11px;
  }
  .img-about {
    width: 169px;
  }
  .img-locations {
    width: 169px;
  }
  .img-menu {
    width: 167px;
  }
  .img-franchise {
    width: 169px;
  }
  .img-keep {
    width: 169px;
  }
  .img-contact {
    width: 169px;
  }
  .block-logo {
    margin-top: 0px;
    margin-bottom: 11px;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .link-img {
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .block-order {
    margin-top: 16px;
    background-color: #1C1F1F;
  }
  .navllogo {
    margin-left: 183px;
  }
  .navlink.bg-yellow.paddingmenu.fontbig {
    display: block;
  }
  .navlink.bg-yellow.font-24 {
    display: block;
  }
  .navlink.bg-yellow.font-16 {
    display: block;
  }
  .navlink.font-15.paddingl {
    display: block;
  }
  .navlink.paddinglr {
    display: block;
  }
  .delimit-content {
    /*width: 557px;*/
    width: 95.5%;
  }
  .delimit-content.header-menu {
    width: 558px;
    margin-top: 10px;
  }
  .location-left-col {
    text-align: center;
  }
  .minilinks.download {
    margin-left: 0px;
  }
  .col-icon-social {
    text-align: left;
  }
  .home-menu-row1 {
    margin-top: 11px;
  }
  .row1-col1 {
    text-align: left;
  }
  .row2-col1 {
    text-align: left;
  }
  .row3-col1 {
    text-align: left;
  }
  .img-pizza {
    text-align: left;
  }
  .img-col2 {
    height: 123px;
  }
  .img-col3 {
    width: 170px;
    height: 124px;
  }
  .priceclock {
    text-align: center;
  }
  .colbeat {
    text-align: center;
  }
  .mobile--image {
    padding-top: 15px;
    padding-bottom: 75px;
  }
  .order-online-link{
    border: 0;
  }
  .w-col.w-col-6.w-col-small-6.w-col-tiny-6.locations-right-col div {
    padding-left: 40px;
  }
  /*.footer {
    display: none;
  }*/
}

/***phone portrait***/
@media (max-width: 479px) {

  body {
    background-image: none;
    background-color: #e6e6e6;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #fff;
    font-size: 28px;
    }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 12px;
  }
  .headercontent h2 {
    display: block;
  }
  .mobile-view-index-link {
    display: block;
  }
  .mobile-view-nav-image {
    display: block;
  }
  .col1 {
    margin-bottom: 11px;
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .col2 {
    margin-bottom: 11px;
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .col3 {
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .col4 {
    margin-bottom: 11px;
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .col5 {
    margin-bottom: 11px;
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .col6 {
    margin-bottom: 11px;
    background-color: #1C1F1F;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .img-contact, .img-about, .img-menu, .img-keep, .img-franchise, .img-locations {
    display: none;
  }
  .block-order {
    margin-top: 0px;
  }
  .link-img {
    background-image: url(../images/mobile-view-div-background.jpg);
    padding-bottom: 55px;
  }
  .block-logo {
    margin-top: 0px;
    margin-bottom: 11px;
    background-image: url(../images/mobile-view-div-background.jpg);
  }
  .social1 {
    margin-left: 0px;
  }
  .social2 {
    margin-right: 3px;
    margin-left: 3px;
  }
  .colsocial {
    text-align: center;
  }
  .copy {
    margin-top: 27px;
  }
  .navllogo {
    margin-left: 0px;
  }
  .delimit-content{
    margin-bottom: 5%;
  }
  .delimit-content, .w-container {
    width: 95.5%;
  }
  .contact-page-restaurant-info h2, p {
    max-width: 200px;
    margin: 0 auto;ß
  }
  .delimit-content.header-menu {
    width: 95.5%;
  }
  .map {
    margin-top: 16px;
    padding-right: 5px;
  }
  .adorder {
    width: 260px;
  }
  .col-icon-social {
    padding-right: 0px;
    text-align: left;
  }
  .icono-social {
    margin-left: 98px;
  }
  .row1-col2 {
    margin-top: 10px;
    background-color: #1C1F1F;
    text-align: center;
  }
  .row1-col3 {
    margin-top: 10px;
    background-color: #1C1F1F;
    text-align: center;
  }
  .row1-col1 {
    background-color: #1C1F1F;
    text-align: center;
  }
  .row2-col1 {
    background-color: #1C1F1F;
    text-align: center;
  }
  .row2-col2 {
    margin-top: 10px;
    background-color: #1C1F1F;
    text-align: center;
  }
  .row3-col1 {
    background-color: #1C1F1F;
    text-align: center;
  }
  .row3-col2 {
    margin-top: 10px;
    background-color: #1C1F1F;
    text-align: center;
  }
  .row3-col3 {
    margin-top: 10px;
    background-color: #1C1F1F;
    text-align: center;
  }
  .contenedor-menu {
    width: 298px;
  }
  .img-col2 {
    height: 72px;
  }
  .img-col3 {
    height: 72px;
  }
  .mobile--image {
    padding-top: 15px;
    padding-bottom: 75px;
  }
  .order-online-link {
    border: 0;
  }
  .locations-right-col div {
    padding-left: 40px;
  }
  .locations-right-col h4 {
    padding-left: 10px;
  }
  .w-col.w-col-6.w-col-small-6.w-col-tiny-6.locations-right-col div {
    padding-left: 40px;
  }
  /*.footer {
    height: 1px;
    display: none;
  }*/
  #locations-tagline {
    display: none;
  }
  img#founder-img {
    float: none;
    display: block;
    margin: 10px auto;
  }
}
